:root {
  --bg-color-overlay-opacity-8: rgba(213, 241, 255, .8);
  --border-color: #A2BECC;
  --map-color:#CDECFF;
}
a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* 滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #B5D5E5;
  border-radius: 10px;
}
/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background-color:rgba(202, 237, 255, 0.6);
  border-radius:10px;
}
// 解决xy轴同时出现滚动条右下角有一个小白快
::-webkit-scrollbar-corner {
  background: transparent;
}

// 地图主界面小模块
.map-module-box {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  .map-module-top {
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    color: var(--el-text-color-regular);

    text-shadow: 0 0 8rem var(--el-color-primary);
    padding: 0 24px 0 32px;
    margin-bottom: 2px;
    border-radius: 0;
    background: url("~/assets/theme-img/light/map-module-title.png") no-repeat;
    background-size: 100% 100%;
    .map-module-top-icon{
      display: flex;
      align-items: center;
    }
  }
  .map-module-bottom {
    padding: 12px;
    background: url("~/assets/theme-img/light/map-module-bg.png") no-repeat;
    background-size: 100% 100%;
  }
}
.dark {
  .map-module-box {
    .map-module-top {
      background: url("~/assets/theme-img/dark/map-module-title.png") no-repeat;
      background-size: 100% 100%;
    }
    .map-module-bottom {
      background: url("~/assets/theme-img/dark/map-module-bg.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}